---
name: CI
on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      logLevel:
        description: manual run
        required: false
        default: ''
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Run secret rule specs
        run: crystal spec/secrets_spec.cr
  contributors:
    runs-on: ubuntu-latest
    steps:
      - uses: wow-actions/contributors-list@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          round: false
          includeBots: true
  revision:
    runs-on: ubuntu-latest
    needs: contributors
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Make revision
        run: date +%s > revision
      - name: Commit files
        run: |
          git config --local user.email "hahwul@gmail.com"
          git config --local user.name "hahwul"
          git add revision
          git commit -m "Update revision"
      - name: Pull latest changes
        run: |
          git pull --rebase origin ${{ github.ref }}
      - name: Push revision
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
